@font-face {
    font-family: "Calibri Light";
    src: url("../fonts/Calibri\ Light.ttf");
}

@font-face {
    font-family: "Calibri Regular";
    src: url("../fonts/Calibri\ Regular.ttf");
}

@font-face {
    font-family: "Calibri Bold";
    src: url("../fonts/Calibri\ Bold.TTF");
}

@font-face {
    font-family: "Lato Regular";
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("../fonts/Lato-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    /*    outline: 1px dashed green;*/
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

#invisible-item {
    /* margin-left: auto; */
}

main {
    display: grid;
}

#category-title {
    grid-column: 1 / -1;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    height: 1rem;

    font-family: "Calibri Regular", Arial, sans-serif;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0.8;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 290px));
    gap: 2.5rem;
    /* margin-left: 3rem;
    margin-right: 3rem; */

    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
    /* border-bottom: 2px orange solid; */
    margin-bottom: 2rem;
}

h3 {
    font-family: "Calibri Light", Arial, sans-serif;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

h4 {
    font-family: "Calibri Light", Arial, sans-serif;
    color: black;
    opacity: 0.7;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.05rem;
}

article {
    margin-bottom: 2.5rem;
}

.prev-price {
    text-decoration: line-through;
    font-family: "Calibri Regular", Arial, sans-serif;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.discounted {
    font-family: "Calibri Bold", Arial, sans-serif;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    color: #d55e3a;
    margin-left: auto;
}

/* .discount {
    font-family: "Calibri Bold", Arial, sans-serif;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: black;
    text-align: right;
    margin-left: 2rem;
} */

.discount {
    font-family: "Lato Regular", Arial, sans-serif;
    font-size: 0.9rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    text-align: right;
    /* margin-left: 1rem; */

    color: white;
    background-color: #d55e3a;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.2rem;
    letter-spacing: 0.1rem;
    padding-bottom: 0.2rem;
}

.price {
    font-family: "Calibri Bold", Arial, sans-serif;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    color: black;
}

.button1-container {
    position: relative;
    width: auto;
    height: 40px;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    /* margin-bottom: 1.5rem; */
    border: black solid 1.5px;
}

.button1-container:hover,
.button1-container:active {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
}

.button1-text {
    position: absolute;
    font-family: "Calibri Bold", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    top: 9px;
    left: 25%;
}

.img_sold_out {
    opacity: 0.6;
}

.sold_out-ticket {
    font-family: "Lato Regular", Arial, sans-serif;
    font-size: 0.9rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    color: white;
    text-align: right;
    /* margin-left: 1rem; */
    background-color: #302c2c;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.2rem;
    letter-spacing: 0.05rem;
    padding-bottom: 0.2rem;
    margin-left: 0;
}

@media (max-width: 1370px) {
    #product-list {
        max-width: 950px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 1060px) {
    #product-list {
        max-width: 620px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 720px) {
    #product-list {
        display: grid;
        grid-template-columns: 100%;
        gap: 3.5rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    img {
        margin-bottom: 3rem;
    }
    .sold_out-ticket {
        display: block;
        width: 100px;
        text-align: left;
        padding-left: 1.2rem;
        margin-left: 6.4rem;
    }
}
